+global-reset

body 
	background: $background-color
	color: $font-color
	font-family: $font-family
	.left 
		float: left
	.right 
		float: right 
	strong
		font-weight: bold
	.container
		+container
	.invisible
		visibility: hidden
		position: relative
	.hidden 
		display: none
	.group
		+group
	h1, h2, h3, h4, h5
		font-weight: normal
	h1 
		font-size: 85px
		margin: $pad